body {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: aquamarine;
}

#letStart {
  margin-left: 20px;
}
#gamePlace {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  background-image: url("assets/bilde1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  justify-content: space-between;
}
#pokemonInfoContainer {
  position: relative;
  left: 2%;
}
.pokemonInfo1 {
  margin-top: 15%;
  width: 150px;
  height: 250px;
}
.pokemonInfo2 {
  margin-top: 30%;
  width: 150px;
  height: 250px;
}
.pokemonInfo3 {
  margin-top: 30%;
  width: 150px;
  height: 250px;
}

#imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#enemyContainer {
  position: relative;
  right: 2%;
}
.imageContainerEnemy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemonImage1 {
  margin-top: 150px;
  transform: scale(2);
}
.pokemonImage2 {
  margin-top: 150px;
  transform: scale(2);
}
.pokemonImage3 {
  margin-top: 150px;
  transform: scale(2);
}
.enemyImageOne {
  margin-top: 400px;
  transform: scale(3);
}
