body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 234, 200);
}
h1 {
  text-align: center;
  color: rgb(29, 85, 239);
}
img {
  width: 100px;
  height: 200px;
}

.btnFifty {
  width: 120px;
  height: 30px;
  margin: 5px;
}

.btn {
  width: 80px;
  height: 30px;
  margin: 5px;
}
#showPokemonContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
p {
  color: black;
  margin-left: 10px;
}
