body {
  margin: 0;
  padding: 0;
  background-color: rgb(209, 197, 178);
}
h1 {
  text-align: center;
  color: blue;
}
img {
  width: 100px;
  height: 200px;
}

.btnFifty {
  position: relative;
  width: 120px;
  height: 30px;
  margin: 5px;
}

.btn {
  width: 80px;
  height: 30px;
  margin: 5px;
}
#showPokemonContainer {
  display: grid;
  grid-auto-rows: auto;
}
p {
  color: black;
  margin-left: 15px;
}
